p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading {
    text-align: center;
}
.recipe-block1 {
    display: inline-block;
    height: 200px;
    width: 180px;
    vertical-align: top;
    margin-right: 100px;
}
.author {
    color: gray;
    font-size: 12px;
    margin-bottom: 0;
}
.author-name {
    margin-top: 0px;

}
.recipe-name {
    width: 250px;
    font-weight: bold;
}
.recipe-name:hover {
    cursor: pointer;
    color: black;
}
.pork {
    height: 350px;
    width: 350px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: block;
}
.prep-time {
    border-color: gray;
    border-width: 1px;
    border-style: groove;
    display: inline-block;
    margin-left: 380px;
    margin-top: -680px;
}
.lasagna {
    width: 300px;
    height: 300px;
}
.zuccini {
    height: 300px;
    width: 300px;
}